html {
  // Brand
  --primary-color: #ffd814;
  --secondary-color: #fcd200;

  --body: #111;
  --btn-text: #0f1111;
  --link: #0066c0;
  --link-hover: #c45500;

  // Default
  --white: #ffffff;
  --dark: #111;
  --danger: #c40000;
  --danger-secondary: #cc0c39;
  --warning: #ffd814;
  --warning-secondary: #fcd200;
  --warning-v2: #f7ca00;
  --warning-secondary-v2: #f2c200;

  // Gray
  --color-gray-0: #e7e7e7;
  --color-gray-50: #f7feff;
  --color-gray-100: #f7fafa;
  --color-gray-200: #ddd;
  --color-gray-300: #d5d9d9;
  --color-gray-400: #a6a6a6;
  --color-gray-500: #949494;
  --color-gray-600: #767676;
  --color-gray-700: #555;

  // color
  --color-cyan: #007185;

  // Shadow
  --sw-primary: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
  --sw-secondary: 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(0, 0, 0, 0.07) inset;
  --sw-danger: 0 0 0 1px #cc0c39 inset, 0 0 0 3px #ffe3e3;
  --sw-danger-secondary: 0 0 0 1px #cc0c39 inset;
  --sw-cyan: 0 0 0 3px #c8f3fa, 0 1px 2px rgba(15, 17, 17, 0.15) inset;
  --sw-btn: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
  --sw-card: 0 0 0 4px #fcf4f4 inset;

  // Gradient
  --ln-primary: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.14),
    rgba(0, 0, 0, 0.03) 3px,
    transparent
  );
  --ln-secondary: linear-gradient(to right, #fff, rgba(255, 255, 255, 0), #fff);

  // FONT FAMILY
  --font-primary: 'Amazon Ember', Arial, sans-serif;
}
