@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/amazon-ember');

@font-face {
  font-family: 'Amazon Ember';
  src:
    local('Amazon Ember'),
    local('AmazonEmber-Regular'),
    url('/fonts/AmazonEmber-Regular.woff2') format('woff2'),
    url('/fonts/AmazonEmber-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Amazon Ember';
  font-style: italic;
  src:
    local('Amazon Ember'),
    local('AmazonEmber-Italic'),
    url('/fonts/AmazonEmber-Italic.woff2') format('woff2'),
    url('/fonts/AmazonEmber-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Amazon Ember';
  font-weight: 700;
  src:
    local('Amazon Ember'),
    local('AmazonEmber-Bold'),
    url('/fonts/AmazonEmber-Bold.woff2') format('woff2'),
    url('/fonts/AmazonEmber-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Amazon Ember';
  font-style: italic;
  font-weight: 700;
  src:
    local('Amazon Ember'),
    local('AmazonEmber-BoldItalic'),
    url('/fonts/AmazonEmber-BoldItalic.woff2') format('woff2'),
    url('/fonts/AmazonEmber-BoldItalic.woff') format('woff');
}

@layer base {
  @import './themes/primary.scss';

  html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
  }

  body {
    -webkit-font-smoothing: antialiased;
    font-family: var(--font-primary);
    font-size: 13px;
    line-height: 19px;
    color: var(--body);
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-primary);
    text-rendering: optimizeLegibility;
    padding-bottom: 4px;
  }
}

// icon
.a-icon,
.a-link-emphasis:after {
  background-image: url(https://m.media-amazon.com/images/S/sash/mPGmT0r6IeTyIee.png);
  -webkit-background-size: 400px 750px;
  background-size: 400px 750px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
}

.a-icon-collapse,
.a-icon-expand {
  width: 7px;
  height: 7px;
  background-position: -366px -86px;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  left: 0;
}

// logo icon
.a-icon-logo,
.a-logo {
  background-position: -5px -130px;
  height: 31px;
  width: 103px;
}

// arrow icon
.a-icon-collapse-open {
  background-position: -382px -86px;
  left: -3px;
}

// alert icon
.a-icon-alert {
  width: 5px;
  background-position: -141px -130px;
}

.a-icon-alert {
  height: 13px;
  width: 14px;
  position: absolute;
  left: 2px;
  top: 2px;
}

// input view
.input-wrap {
  .input-custom {
    @apply w-full h-[31px] text-btn-text bg-white py-[3px] px-[7px] leading-normal border border-solid border-gray-400 border-t-gray-500 shadow-secondary rounded-[3px] outline-none transition-all ease-linear;

    &:focus {
      @apply bg-gray-50 border-cyan shadow-cyan;
    }

    &__danger {
      @apply border-danger-secondary shadow-danger-secondary;

      &:focus {
        box-shadow: var(--sw-danger);
        @apply bg-white border-danger-secondary;
      }
    }
  }
}

.button-custom {
  text-decoration: none;
  vertical-align: middle;
  padding: 0 10px 0 11px;
  @apply rounded-lg shadow-btn w-full text-btn-text border-solid border cursor-pointer inline-block text-center leading-[29px] transition-all ease-linear;

  &__default {
    @apply bg-primary border-secondary;

    &:hover {
      @apply bg-warning-v2 border-warning-secondary-v2;
    }
  }
}

// expander
.expander-view {
  &:hover {
    .text-need-help {
      @apply underline transition-all ease-linear text-link-hover;
    }
  }
}

.divider-session {
  &::after {
    content: '';
    @apply w-full bg-transparent block h-[1px] border-t border-solid border-gray absolute top-1/2 mt-[-1px] z-[1];
  }
}

.footer-divider {
  .footer-divider-inner {
    background: var(--ln-primary);
    zoom: 1;
    @apply h-11 -mb-4.5 z-0;

    &::after {
      content: '';
      background: var(--ln-secondary);
      @apply block w-full h-11 bg-transparent z-[1];
    }
  }
}
